# === Large files to ignore ===
*.pt
*.onnx
*.pth
runs/
models/best*
week1-basics/models/
**/__pycache__/
.ipynb_checkpoints/
*.ipynb

# Keep only deployment files
!app.py
!requirements.txt
!README.md
!.gitignore
