# Large files to ignore
*.pt
*.onnx
*.pth
runs/
models/
week1-basics/models/
**/__pycache__/
.ipynb_checkpoints/
*.ipynb

# Only allow these for deployment
!app.py
!requirements.txt
!README.md
!.gitignore
